{% load static %}
<html>
<head>
<link rel="stylesheet" href="{% static 'css/let.css' %}">
<script src="{% static 'js/email-link.js' %}"></script>
</head>
    <body class="background">
    <div class="parallax-bg">
    <div class="way">
            <div class="image">
                <img src="{% static 'images/logo-removebg-preview.png' %}" width="160px" height="100px">
            </div>
            <div class="loss">
            <a href="{% url 'home' %}" class="nav-link">HOME &nbsp;&nbsp;&nbsp;&nbsp;</a>
            <a href="{% url 'courses' %}" class="nav-link">COURSES &nbsp;&nbsp;&nbsp;&nbsp;</a>
            <a href="{% url 'care' %}" class="nav-link">CAREERS &nbsp;&nbsp;&nbsp;&nbsp;</a>
            <a href="{% url 'about' %}" class="nav-link">ABOUT US &nbsp;&nbsp;&nbsp;&nbsp;</a>
            <a href="{% url 'contact' %}" class="nav-link">CONTACT US &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
             <a href="{% url 'contact' %}"  style="color: black; text-decoration: none;"> <input type="button" class="button" value="Book A Free Demo"></a>
            </div>
        </div>
    </div>
    <div class="but">
        <div class="move">
            <div class="account">
                <u>AccountX- Where Concepts<br> Become Confidence</u>
            </div>
            <div class="cost">
            AccountX Academy is a learning platform designed to help students understand concepts easily and succeed in their exams.
            Our classes are fully exam-oriented, focusing on building strong fundamentals and improving academic performance.
            At AccountX, we provide online coaching for Commerce subjects, Mathematics, and other important subjects, helping 
            students prepare effectively for their examinations and build a better future.

            </div>
            <div class="look">
                <div class="keep">
                <div class="sold">
                  Exam Oriented Batches
                </div>
                </div>
                <div class="most">
                <div class="power">
                  Chapter-Wise Test Papers&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp; With Evalution
                </div>
                </div>
            </div>
            <div class="note">
                <div class="lay">
                <div class="by">
                 Individual Attention For&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;  Every Students
                 </div>
                </div>
                <div class="very">
                 <div class="app">
                    1-to-1 classes also available
                 </div>
                </div>
                
            </div>
            <div class="tell">
                <div class="port">
                <div class="toll">
                    Easy To Connect.Easy To Learn
                </div>
                </div>
                <div class="to">
                    <div class="wood">
                        Small Batch Size For Better&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp;  Attention
                    </div>
                </div>

            </div>
        </div>
        <div class="goal">
            <div class="gift">
                <img src="{% static 'images/opp.jpg' %}" height="480px" width="500px"style="border-radius: 10px">

            </div>
        </div>
       
            
    </div>
    

    <div class="what">
        <div class="offer">
           Courses We Offered
        </div>
    </div>
   
   <div class="one">
    <div class="boot">
     <div class="point">
        <img src="{% static 'images/commerce.jpg' %}" height="300px" width="400px" style="border-radius: 10px">
     </div>
    </div>
    <div class="hell">
        <div class="com">
           <u>Individual Tution</u>
        </div>
      <div class="neck">
        
        Get one-to-one tutoring prpgram for +1and+2 Accountancy, Bussiness Studies <br>and Economics,
        Personalized tution for the students for a bettter learning<br> experience. Interactive online 
        Sessions,Screen-sharing for numerical <br>problems,and recorded sessions for revision.
        Emphasize Personalized <br>attention,flexibility,comfort,improved grades,tailored,expert.<br>
        We provide online tutoring assuring 100% quality. <br>

        <a href="{% url 'contact' %}"  style="color: black; text-decoration: none;"><input type="button" class="saying" value="Enquire Now"></a>

      </div>
      
    </div>
   </div>
   <div class="who">
     <div class="vest">
        <div class="fall">
            <img src="{% static 'images/best.jpg' %}" height="300px" width="400px" style="border-radius: 10px">

        </div>
     </div>
    <div class="gain">
        <div class="out">
            <u>Foundation Progarms</u>
        </div>
        <div class="line">
            The foundation course is a design classes 5 to 8 strengthen their basics in various<br>
            challenging subject whether your child struggles with Mathematics. We provide the <br>
            one-on-one online lessons to help them improve and gain confidence. We help students <br>
            overcome their fear of math by breaking down complex formulas into easy-to-understand <br>
            steps.<br>

          <a href="{% url 'contact' %}"  style="color: black; text-decoration: none;"><input type="button" class="like" value="Enquire Now"></a>

        </div>
    </div>
   </div>

   <div class="fee">
    <div class="jet">
        Frequently Asked Questions
    </div>
   </div>

   <div class="so">
    <div class="mess">
     <div class="need">
        ⭐  What subjects do you offer in your online tuition classes? 
     </div>
     <div class="more">
        We offer online tuition for Accountancy,Bussiness Studies,and Economics for +1and+2 students, and Mathematics for 
        students<br> from class 5 to class 8.
     </div>
     <div class="rose">
        ⭐ Are the classes conducted live or recorded?
     </div>
     <div class="then">
     Our classes are conducted live online, and in some cases recorded session may also be
     provided for revision
     </div>
     <div class="any">
        ⭐ Will students recieve study materials and notes?
     </div>
     <div class="wol">
        Yes, students will receive study materials,notes and pratice questions 
        to help them understand the topics better and prepare for exams
     </div>
    </div>

    
    <div class="miss">
       <div class="pay">
        ⭐ How can i enroll in the online tuition classes?
       </div>
       <div class="roll">
        You can enroll through our website or contact us directly to get 
        details about courses fees, schedules, and registration.
       </div>
       <div class="con">
        ⭐ Do you provide individual attention to students?
       </div>
       <div class="jo">
        Yes, we focus on small batches and individual attention to ensure every student understands the concepts clearly.
       </div>
       <div class="call">
        ⭐ How will your online tuition classes help students improve their academic performance?
       </div>
       <div class="sa">
        Our online tuition classes help students improve their academic performance by providing 
        clear explanations, step-by-step problem solving, regular practice questions, and revision
         sessions. We focus on making difficult topics easy to understand and ensure students are 
         well prepared for school exams and board examinations.
       </div>
    </div>
   </div>
   <div class="day">
    <div class="tion">
        What We Do?
    </div>
   </div>

   <div class="late">
    <div class="ne">
    <div class="fire">
        At our Online Tuition Center, we are committed to providing high-quality and result-oriented learning for
        Plus One (+1) and Plus Two (+2) students, with a strong focus on core commerce subjects such as
        Accountancy, Business Studies, and Economics, helping students build a clear understanding of concepts
        while preparing them confidently for their academic examinations and future careers.<br><br>


        Our teaching approach is designed to simplify complex topics through structured lessons, real-life
        examples, and step-by-step explanations, ensuring that every student, regardless of their current level of
        understanding, can learn comfortably and develop strong analytical and problem-solving skills in commerce
        subjects.<br><br>


        We believe that every student deserves personal attention, clear guidance, and continuous academic
        support, which is why our online tuition classes focus on interactive learning, regular practice sessions,
        doubt-clearing support, and exam-focused preparation to help students achieve excellent results in their
        Plus One and Plus Two board examinations<br><br>


        With a passion for teaching and a commitment to student success, our mission is to create a supportive and
         motivating learning environment where students gain confidence, strengthen their academic foundation
          in Accountancy, Business Studies, and Economics, and move forward toward their higher education and
          professional goals with clarity and success.<br><br>


        For Classes 5 to 8 Mathematics, we focus on building strong fundamental concepts through simple
         explanations, step-by-step problem solving, and regular practice sessions, ensuring that students clearly 
         understand important mathematical topics and develop logical thinking and analytical skills that will support 
         their academic growth in higher classes.
    </div>
    </div>
    <div class="cash">
        <div class="layer">
            <img src="{% static 'images/bay.jpg' %}" width="500px" height="800px">



        </div>
    </div>
   </div>

   <div class="cont">
    <div class="ask">
        For Admission & and All class Contact Us
    </div>
    <div class="feat">
        Get in touch for personlized tuition class inquiries and support
    </div>
   </div>
    <form method="POST" action="{% url 'contact' %}">
    {% csrf_token %}
   <div class="bat">
    <div class="kay">
        Student Full Name<br>
        <input type="text" name="name" class="me" placeholder="Your First Name Here">

    </div><br>
    <div class="nay">
        Student Class<br>
        <input type="text" name="student_class" class="were" placeholder="Student class">

    </div>
    <div class="pipe">
        Student Syllabus<br>
        <input type="text" name="syllabus" class="read" placeholder="Student Syllabus">

    </div>
    <div class="clay">
        Parents Whatsapp Number<br>
<input type="number" name="phone" class="rell" placeholder="Enter Contact Number"><br><br>

    </div>
   </div>
   
     <input type="submit" class="rol" value="Submit Your Inquiry Now">

   <div class="sad">
    <div class="per">
        <div class="ray">
            <u>Education</u>
        </div><br>
        <div class="lose">
            Providing tailored tuition for +1 and +2 commerce <br>and 5 to 8 mathematics
        </div>
        <div class="pot">
<div class="instagram-logo">
    <a href="https://www.instagram.com/accountxacademy?igsh=MWp6cGQyZGJqY3lkMg==/" target="_blank" title="Follow us on Instagram">
        <img src="{% static 'images/instagram-icon.png' %}" alt="Instagram" width="40" height="40">
    </a>
</div>
<div class="email-logo">
    <a href="mailto:accxacademy@gmail.com?subject=Hello&body=I%20want%20to%20contact%20you">
        <img src="{% static 'images/email-icon.png' %}" alt="Email" width="40" height="40">
    </a>
</div>

<div class="whatsapp-logo">
    <a href="https://wa.me/919497866505?text=Hello%20I%20want%20to%20contact%20you" target="_blank">
        <img src="{% static 'images/whatsapp-icon.png' %}" alt="WhatsApp" width="40" height="40">
    </a>
</div>
        </div>
    </div>
    <div class="pine">
    <div class="vibe">
        FOR ADMISSION ENQUIRY<br>
        +91 9497866505<br>
        accxacademy@gmail.com<br><br>

        © 2026. All rights reserved.
    </div>
   </div>

 
   </div>
 </form>

 
</body>
</html>